body::before {
  display: block;
  content: '';
  height: 60px;
}


.map-container-6{
overflow:hidden;
padding-bottom:65%;
position:relative;
height:0;
}

.map-container-6 iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}


@media (min-width: 768px) {
 .news-input {
   width: 50%;
 }
}

